 body {
 	background: rgb(72,208,255);
background: radial-gradient(circle, rgba(72,208,255,1) 0%, rgba(113,200,196,1) 30%, rgba(248,255,76,1) 73%, rgba(252,228,70,1) 100%);
 }
 .logo {
	width: 60px;
	height: 60px;
}
 nav {
	float: right;
}

.container::after {
	content: "";
	display: table;
	clear: both;
}
nav ul {
	margin: 0;
	padding: 0;
}
nav li {
	display: inline-block;
}
nav a {
	text-decoration: none;
	line-height: 60px;
	font-size: 25px;
	margin:  0 10px;
	color: black;
}
nav a:hover {
	color: darkred;
}
.contenr{
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	padding:15px ;
}
.container::after {
	content: "";
	display: table;
	clear: both;
}
.articles {
	float: left;
	width: 80%;
padding: 15px;
border: 1px solid grey;
}
.article {
	padding: 20px;
	margin: 10px 0;
	border: 1px solid lightblue;
	font-size:20px ;
	width: 100%;
}
.article::after {
	content: "";
	display: table;
	clear: both;  
}
.article_text {
	float: left;
	width: 800px;
}


.article_img {
 width: 500px;
 height: 400px;
/* background: lightblue;*/
 float: right;
 padding-top: 350px;
 padding-right: 40px;
}
.article_img > img {
	width: 100%;
	height: 100%;
}
.button {
	position: fixed;
	right: 10px;
	bottom: 10px;
}
.cat {
   	border: 4px solid black;
 	width: 1500px;
 	margin: 0 auto;
 	font-size: 20px;
 	padding: 10px;
 	background: ;
}
.art {
 width: 1500px;
 height: 1000px;
/* background: lightblue;*/
 float: right;
}
.art > img {
	width: 100%;
	height: 100%;
	float: left;
}
.image2{
	height: 400px;
	width: 300px;
}